.background {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFC700;
    height: 70px;
    width: 100vw;
    gap: 10px;
}

.headerText {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: min(60px, 7vw);
    width: 90vw;
    cursor: pointer;
}

.userIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #222222;
    border-style: solid;
    border-width: 2px;
    height: min(45px, 6vw);
    width: min(45px, 6vw);
    margin-right: 10px;
    border-radius: 30px;
    cursor: pointer;
    background-color:#FFC700;
    color: #222222;
}

.username {
    font-family: 'Courier New', Courier, monospace;
    font-size: min(45px, 6vw);
    font-weight: normal;
}

.userIcon:hover{
    color: #FFC700;
    background-color:#222222;
}