.pageContainer{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: min(60px, 10vw);
    margin-bottom: 35px;
    margin-top: 50px;
}